<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="renderer" content="webkit" />
    <title>Z-OA</title>
    <link rel="stylesheet" href="../dist/lib/H/css/H.min.css">
    <link rel="stylesheet" href="../dist/css/common.css">
    <script type="text/javascript" src="../dist/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../dist/lib/H/js/H.min.js"></script>
    <script type="text/javascript" src="../dist/lib/iscroll/iscroll.min.js"></script>
</head>
<body>
<!-- 页头 -->
<div id="J-header" class="header">
    <h1 class="title">
        <span class="text-red">Z</span>-OA
    </h1>

    <ul class="top-nav">
        <li class="item" title="退出" id="J-logout-btn">
            <i class="icon-font icon-font-exit">&#xe602;</i>
        </li>
        <li id="J-user-menu" class="item user-avatar">
            <div class="img-wrap"><img src="../dist/img/demo/avatar-small.png"></div>
            <span class="txt" id="J-user-name">Jayee.Nam</span>
            <!--<i class="icon-font icon-font-down">&#xe60a;</i>-->
        </li>
        <!--
        <li class="item" title="任务">
            <i class="icon-font icon-font-task">&#xe601;</i>
            <span class="count">4</span>
        </li>
        <li class="item" title="信息">
            <i class="icon-font icon-font-msg">&#xe600;</i>
            <span class="count">6</span>
        </li>
        <li class="item" title="通知">
            <i class="icon-font icon-font-notice">&#xe603;</i>
            <span class="count">{{noticeCount}}</span>
        </li>
        -->
    </ul>
</div>

<!-- 主内容 -->
<div id="J-container" class="container">

    <!-- 侧边栏 -->
    <div id="J-sidebar" class="sidebar"></div>

    <!-- 内容区 -->
    <div id="J-container-body" class="container-body">
        <div class="container-body-inner">
            <iframe class="iframe" name="mainFrame" frameborder="0" scrolling="auto" src="view/attendance/overtime.html"></iframe>
        </div>
    </div>

</div>

<!-- 页脚 -->
<div id="J-footer" class="footer">
    2016 © Powered By <a href="mailTo:550284209@qq.com">Zhifeng.Cao</a>
</div>

<script type="text/html" id="J-user-menu-tpl">
    <ul class="top-nav-menu">
        <li><a class="cm-link-black" href="#"><i class="icon-font">&#xe606;</i>个人信息</a></li>
        <li><a class="cm-link-black" href="#"><i class="icon-font">&#xe605;</i>修改密码</a></li>
        <li><a class="cm-link-black" href="#"><i class="icon-font">&#xe602;</i>退出登录</a></li>
    </ul>
</script>

<script type="text/html" id="J-menu-tpl">
    <ul id="J-s-menu-cls-one" class="s-menu-cls-one">
        <%
        $.each(items, function (i, itemClsOne) {
            var activeCls = '',
                activeStyle = 'none';
            if (i == 0) {
                activeCls = 'active';
                activeStyle = 'block';
            }
        %>
        <li class="item-cls-one <%= activeCls %>">

            <div class="J-item-cls-one-inner inner">
                <%= itemClsOne.name %>
                <i class="icon-font icon-font-arrow-left">&#xe60c;</i>
                <i class="icon-font icon-font-arrow-down">&#xe60a;</i>
                <span class="arrow"></span>
            </div>

            <% if (itemClsOne.submenu.length > 0) { %>
            <ul class="J-s-menu-cls-two s-menu-cls-two" style="display: <%= activeStyle %>">
                <% $.each(itemClsOne.submenu, function (i, itemClsTwo) { %>
                <li class="item-cls-two"><a href="<%= itemClsTwo.href %>" target="<%= itemClsTwo.target %>"><%= itemClsTwo.name %></a></li>
                <% }); %>
            </ul>
            <% } %>

        </li>
        <% }); %>
    </ul>
</script>


<script type="text/javascript">
    H.JsLoader.get({
        name: 'index',
        url: '../dist/js/index.min.js'
    });
</script>
</body>
</html>
