<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="renderer" content="webkit" />
    <title>Z-OA</title>
    <link rel="stylesheet" href="../dist/lib/H/css/H.min.css">
    <link rel="stylesheet" href="../dist/css/common.css">
    <script type="text/javascript" src="../dist/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../dist/lib/H/js/H.min.js"></script>
    <script type="text/javascript" src="../dist/lib/iscroll/iscroll.min.js"></script>
</head>
<body>
<!-- 页头 -->
<div id="J-header" class="header">
    <h1 class="f16px fBold ml15px fl">
        <span class="text-red">Z</span>-OA
    </h1>

    <div class="fr pr15px">
        <span class="ml20px">您好！欢迎您【<em id="J-identity-name">超级管理员</em>】<em id="J-user-name">admin</em></span>
        <span class="ml20px"><a id="J-link-change-pwd" href="user-change-pwd.html" target="mainFrameChangePwd" class="cm-link-white" name="修改密码"><i class="icon-font icon-pwd">&#xe600</i>修改密码</a></span>
        <span class="ml20px"><a href="#" class="cm-link-white" id="J-link-logout"><i class="icon-font icon-exit">&#xe605</i>退出系统</a></span>
    </div>
</div>

<!-- 侧边栏 -->
<div id="J-sidebar" class="sidebar"></div>
<div id="J-submenu-wrap" class="submenu-wrap"></div>

<!-- tab栏 -->
<div id="J-frame-tab" class="frame-tab">
    <ul class="inner">
        <li class="item active" data-name="home">平台首页</li>
    </ul>
</div>

<!-- 内容区 -->
<div id="J-container" class="container">
    <iframe class="iframe" name="home" frameborder="0" scrolling="auto" src="demo.html"></iframe>
</div>

<!-- 页脚 -->
<div id="J-footer" class="footer">
    2016 © Powered By <a href="mailTo:550284209@qq.com">Zhifeng.Cao</a>
</div>

<script type="text/html" id="J-user-menu-tpl">
    <ul class="top-nav-menu">
        <li><a class="cm-link-black" href="#"><i class="icon-font">&#xe606;</i>个人信息</a></li>
        <li><a class="cm-link-black" href="#"><i class="icon-font">&#xe605;</i>修改密码</a></li>
        <li><a class="cm-link-black" href="#"><i class="icon-font">&#xe602;</i>退出登录</a></li>
    </ul>
</script>

<script type="text/html" id="J-menu-tpl">
    <ul class="inner">
        <%
        $.each(items, function (i, itemClsOne) {
            var cls = '';

            if (itemClsOne.submenu.length > 0) {
                cls = 'J-has-submenu';
            }
        %>
        <li class="item <%= cls %>">

            <div class="J-item-cls-one-inner inner">
                <% if (itemClsOne.href != '') { %>
                <a href="<%= itemClsOne.href %>" target="<%= itemClsOne.target %><%= itemClsOne.id %>" name="<%= itemClsOne.name %>"><%= itemClsOne.name %></a>
                <% } else { %>
                <span class="fix-box"><%= itemClsOne.name %></span>
                <% } %>
            </div>

            <% if (itemClsOne.submenu.length > 0) { %>
            <ul class="J-submenu submenu">
                <%
                $.each(itemClsOne.submenu, function (i, itemClsTwo) {
                    var cls = '';

                    if (itemClsTwo.submenu.length > 0) {
                        cls = 'can-open J-can-open';
                    }
                %>
                <li class="item">
                    <div class="inner <%= cls %>">
                        <% if (itemClsTwo.href != '') { %>
                        <a href="<%= itemClsTwo.href %>" target="<%= itemClsTwo.target %><%= itemClsTwo.id %>" name="<%= itemClsTwo.name %>"><%= itemClsTwo.name %></a>
                        <% } else { %>
                        <span class="no-link">{{itemClsTwo.name}}</span>
                        <% } %>
                        <i class="icon-font icon-close">&#xe603</i>
                        <i class="icon-font icon-open">&#xe604</i>
                    </div>


                    <% if (itemClsTwo.submenu.length > 0) { %>
                    <div class="lastmenu-wrap">
                        <ul class="lastmenu">
                            <% $.each(itemClsTwo.submenu, function (i, itemClsThree) { %>
                            <li class="item">
                                <a href="<%= itemClsThree.href %>" target="<%= itemClsThree.target %><%= itemClsThree.id %>" class="cm-link-blue" name="<%= itemClsThree.name %>"><%= itemClsThree.name %></a>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                    <% } %>
                </li>
                <% }); %>
            </ul>
            <% } %>

        </li>
        <% }); %>
    </ul>
</script>


<script type="text/javascript">
    H.JsLoader.get({
        name: 'index',
        url: '../dist/js/index.min.js'
    });
</script>
</body>
</html>
